*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(60, 21, 85);

}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
#box-img{
    position: relative;
    width: 800px;
    height: 350px;
}
div > *{
    display: none;
}
img{
    display: block;
    width: 800px;
    height: 350px;
    
}
.d-block{
    display: block;
    z-index: 1;
}
#box-img:after{
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 10;
    background-color: aliceblue;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#box-img:before{
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 10;
    background-color: aliceblue;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%,-50%);
}